

    body {
        background-color: #025c3e;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    header,
    main,
    section,
    article {
        max-width: 700px;
    }

    header>h1 {
        color: rgb(29, 82, 57);
        text-shadow: 3px 3px 0px rgb(10, 84, 97);
    }

    main,
    section,
    article {
        background-color: rgb(112, 219, 196);
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(1, 47, 53, 0.502);
    }

    footer {
        display: block;
        width: 100vw;
        background-color: #04a791;
        color: white;
        text-align: center;
        margin-top: auto;
        padding: 5px;
    }

    p {
        text-align: justify;
        line-height: 1.5em;
    }

    h2,
    h3,
    h4 {
        color: #000000;
        margin: 0 0 10px 0;
    }

    a {
        color: #05090a;
        background-color: rgba(55, 41, 145, 0.1);
        padding: 0 3px;
        font-weight: 600;
        text-decoration: none;
        border-bottom: .5px dotted #19857f;
    }

    a:hover {
        color: #16837a;
        border-bottom: 1px solid #055a7c;
    }

    /* TABELAS E LISTAS */

    table {
        min-width: 400px;
        border-spacing: 0px;
        border: 0.5px solid #17667a;
        margin: 10px auto;
    }

    table th {
        background-color: #02b15a;
        color: rgb(17, 165, 170);
        padding: 5px;
        text-align: left;
    }

    table td {
        padding: 5px;
    }

    table tr {
        background-color: rgba(55, 41, 145, 0.05);
    }

    table tr:nth-child(odd) {
        background-color: rgba(41, 145, 128, 0.3);
    }

    table.divisao {
        border: 1px solid rgb(30, 236, 174);
    }

    table.divisao td {
        background-color: rgba(8, 148, 136, 0.555);
        padding: 20px;
        text-align: center;
        font-size: 2.5em;
    }

    table.divisao tr:nth-child(1) td:nth-child(2) {
        border-bottom: 3px solid rgb(1, 6, 7);
        border-left: 3px solid rgb(6, 136, 153);
    }

    table.divisao tr:nth-child(2) td:nth-child(2) {
        border-left: 3px solid rgb(1, 151, 161);
    }

    table.divisao tr:nth-child(2) td:nth-child(1) {
        text-decoration: underline;
    }

    ul>li::marker {
        color: #0a777a;
    }

    /* ELEMENTOS DE FORMULÃRIO */

    form {
        background-color: rgba(6, 151, 127, 0.2);
        padding: 15px;
        border-radius: 10px;
    }

    form label {
        display: block;
        width: fit-content;
        font-size: 0.8em;
        font-weight: 100;
        background-color: rgba(8, 23, 27, 0.2);
        padding: 3px 7px;
        margin-top: 10px;
        margin-bottom: 0px;
        border-radius: 5px;
    }

    input[type=text],
    [type=number],
    select,
    input[type=date],
    input[type=date],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=password],
    input[type=range],
    input[type=tel],
    input[type=time],
    input[type=week] {
        width: 100%;
        padding: 12px 20px;
        font-size: 1em;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #09e099;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #034b3f;
        font-size: 1em;
        color: white;
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #13b6b6;
    }

    input[type=reset] {
        width: 100%;
        background-color: #0dada0;
        font-size: 1em;
        color: white;
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=reset]:hover {
        background-color: #0deba8;
    }

    input[type=button],
    button {
        width: 100%;
        background-color: #08bbac;
        font-size: 1em;
        color: rgb(25, 170, 170);
        padding: 10px 20px;
        margin: 5px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=button]:hover,
    button:hover {
        background-color: #109ec2;
    }

    fieldset {
        border: 0.5px dotted #0a71a0;
    }

    fieldset>legend {
        font-size: 0.8em;
        font-weight: 100;
        background-color: rgba(41, 121, 145, 0.2);
        padding: 3px 7px;
        border-radius: 5px;
    }

    input[type=radio]+label,
    input[type=checkbox]+label {
        display: inline-block;
        font-size: 1em;
        background-color: rgba(9, 150, 160, 0);
    }

    p {
        background-color: #000201;
        color: #04a791;
    }

    p {
        color: #000000;
        display: block;
        width: fit-content;
        font-size: 0.8em;
        font-weight: 100;
        background-color: rgba(5, 235, 196, 0.2);
        padding: 3px 7px;
        margin-top: 10px;
        margin-bottom: 0px;
        border-radius: 5px;
        }
